@media only screen and (min-width: 768px) {



header h1 {
        text-align: center;
        color:white;
    }


 .medium-6 {
    width: 50%;
}
 
nav button {
    display: none;
}

nav ul {
    display: block;
}


nav li {
    float: left;
}

}
