@media only screen and (min-width: 768px) {



header h1 {
        text-align: center;
        color:white;
        
    }

header img {
        float: left;
        height: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
    }  

.medium-6 {
    flex-basis: 50%;
    }
 
nav button {
    display: none;
    }

nav ul {
    display: block;
    }


nav li {
    float: left;
    }

}
