html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background-color: tan;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

h1 {
    color: red
}



/* Header */

header {
    background-color: navy;
}

header img {
    float: left;
    height: 100px;
    padding-right: 25px ;
    padding-top: 15px;
    
}

header h1  {
    text-align: center;
    color: red;
    font-weight: bold;
    padding-top: .7rem;
    font-size: 2rem;
    
}

/* nav bar */
nav {
    background-color: white;
    border: 1px solid red;
    margin: 5px 0 5px 0;
}
#hamburgerBtn {
   
    background: none;
    border: none;
    color: navy;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
}
nav ul {
    margin: 0;
    padding: 0;
}


nav ul li {
    list-style-type: none;
   
}

nav a {
    display: block;
    padding: 20px;
    color: navy;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
   
}

nav li.active {
    background-color: rgba(229, 182, 182, 0.3);
}

nav a:hover {
    background-color: rgba(250, 0, 0, .3)
    
}

nav ul.open{
    display: block;
}

nav ul {
    display: none;
}

nav a:visited {
    color: black;
  }
  
.mainNav a:active {
    color:tan;
  }


/* flex box */ 
.row {
    clear: both;
}

.limited {
    max-width: 1040px;
    margin: auto;
}
.column {
    float: left;
    padding: 0 2vw;
    margin: 0 0 .75rem 0;
}


.small-12 {
    width: 100%;
}

/* footer */
footer {
    background-color: navy;
    font-size: 1.2rem;
}




footer h2 {
    color: tan;
    text-transform: uppercase;
    margin: 2rem 0rem 2rem 2rem;
  
}

footer h2 a {
    color: tan;
    text-decoration: none;
}

footer li {
    color: tan;
    list-style-type: none;
    display: flex;
    text-align:left; /* */
}
footer li a {
    color: tan;
    text-decoration: none;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}