body {
    background-color: tan;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

main {
    position: center;

}

p {
    position: center;

}

h1 {
    color: navy;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

h2 {
    color: navy;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: navy;
    text-align: center;
}


img {
   border: 10px solid black;
   size: cover;
}

#left {
    float: left;
    width: 20%;
    margin-bottom: 20px;
    display: block;
}